version: '3.7'

services:

  player:
    build: '.'
    user: 'node'
    working_dir: /home/node/app
    volumes:
      - .:/home/node/app
    devices:
      - /dev/snd/:/dev/snd/
    ports:
      - '13001:13001'
    # command: 'bash -c "npm i && npm rebuild && npm run play https://www.youtube.com/watch?v=9p_QW_HsKPI"'
    command: 'bash -c "npm i && npm rebuild && npm run dev"'
    restart: 'no'
